//META{"name":"Sneaks_Theme","description":"A Theme Made For A Friend","author":"Moto","version":"0.0.2"}*//
@import url('https://fonts.googleapis.com/css?family=Pacifico');

.app { background-image: url(https://i.ytimg.com/vi/SV7EKA8jnAs/maxresdefault.jpg) !important; background-size: cover !important; }

#app-mount,
.app .layers .layer,
.app .layers,
.typing,
.content,
.flex-spacer,
.container-RYiLUQ,
.messages-wrapper,
.popout-menu, /* Server Menu (Popout) */
.popout-menu-item, /* Server Menu (Popout item) */
#friends, /* Friends Section */
.container-2OU7Cz,
#rtc-connection,
.ui-standard-sidebar-view,
.theme-dark .layers-20RVFW,
.theme-dark .layer-kosS71 {
	background-color: transparent !important;
}

.titleBar-3_fDwJ { margin-top: 0px; padding-top: 4px; }

.messages-wrapper,
.friends-table,
.messages-wrapper,
#friends .friends-header,
.titleBar-3_fDwJ,
.content-region /* Settings - Right Side */ {
	background-color:  rgba(0,0,0,0.80) !important;
}

.channel-members,
.channels-3g2vYe /* Direct Messages Side Bar */ {
	background-color: rgba(0,0,0,0.70) !important;
}

.guilds-wrapper /* Guilds (Left SideBar) */,
.title-qAcLxz,
.headerBar-cxbhPD, /* Friends Section Header */
.sidebar-region, /* Settings - Left Side */
.chat form {
	background-color: rgba(0,0,0,0.60) !important;
}

.chat form { /* Chat Box */
	margin: 0px !important;
	padding-left: 20px;
	padding-right: 20px;
	/* height: 106px; */
	padding: 6.5px 20px;
	display: flex !important;
	flex-shrink: 0 !important;
	margin: 0 20px;
	position: relative;
}

.channel-members h2 {
		width: 50%;
		color: #FFF !important;
		background-color: #0E28F0;
		text-align: center;
		border-radius: 4px;
		border-bottom:0px solid #000;
		border-top:0px solid #000;
		border-left: 15px;
		border-right: 15px;
		padding-top: 2.5px;
	  padding-bottom: 2.5px;
		margin: 29px auto 9px;
}

.channel-members .member:hover{
    background: rgba(238, 36, 36, 0.30) !important;
}


.popout-menu .popout-menu-item.leave {
	background: rgba(220,0,0,0.75) !important;
	color: #fff !important;
}

.popout-menu .popout-menu-item {
	background-color: rgba(0,0,0,0.75) !important;
	color: #b9bbbe !important;
}

.popout-menu .popout-menu-separator {
	border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #0E28F0;
}

#friends .friends-table {
	margin-top: 0px;
	padding-top: 8px;
}

*::-webkit-scrollbar-track-piece {
	background-color: transparent !important;
	border-color: transparent !important;
}

*::-webkit-scrollbar-thumb {
	background-color: #0E28F0 !important;
	border-color: transparent !important;
}

.itemDefaultSelected-1UAWLe,
.itemBrandSelected-3LxxzT,
#bd-settings-sidebar .ui-tab-bar-item.selected,
.buttonBrandFilled-3Mv0Ra,
.themeDefault-3M0dJU.valueChecked-3Bzkbm,
.barFill-18ABna,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked,
.bd-pfbtn,
.ui-standard-sidebar-view .bda-slist .bda-right button {
	background-color: #0E28F0;
	color: #FFF;
}

.buttonBrandFilled-3Mv0Ra:hover {
	background: rgba(238, 36, 36, 0.30) !important;
}

.itemBrand-mC9YR4 {
	color: #0E28F0;
}

.itemDanger-3m3dwx {
	color: #FFF;
	background-color: rgb(240, 71, 71);
}

.checkbox .checkbox-inner input[type=checkbox]:checked+span,
.themeClear-1NqU69.valueChecked-3Bzkbm,
.tab-bar .tab-bar-item.tab-bar-item-primary,
.tab-bar .tab-bar-item.selected,
.chat .new-messages-bar {
	background-color: #0E28F0 !important;
	border-color: #0E28F0;
  color: #FFF !important;
}

.mention { color: #0E28F0 }
.mention:hover { color: #FFF; background: rgba(238, 36, 36, 0.30) !important; }
.sidebar-region .sidebar { padding-bottom: 0px !important; }

.popout-menu .popout-menu-separator {
		border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #0E28F0;
}

.popout-menu .popout-menu-item:hover {
	background: rgba(238, 36, 36, 0.30) !important;
	color: #fff !important;
}

body {
	font-family: 'Pacifico', cursive;
  -webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
}

.message-group .comment .markup pre code, /* Multi Line Code Block */
.message-group .comment .markup code.inline /* Inline Code Block */ {
	background-color: rgba(50,50,50,0.30) !important;
}

.message-group .comment .markup pre code /* Multi Line Code Block */ {
	border-style: solid !important;
	border-width: 1px !important;
	border-color: #0E28F0 !important;
  padding: 0 !important;
}

.item-2zi_5J[style*="background-color: rgb(114, 137, 218);"] { /* Radio Buttons */
	background-color: #0E28F0 !important;
	border-color: #0E28F0 !important;
}

.checkbox-1QwaS4[style*="border-color: rgb(114, 137, 218);"] { /* Check Box in The Radio Buttons */
	border-color: #0E28F0 !important;
}

.checkbox-1QwaS4[style*="border-color: rgb(114, 137, 218);"] polyline { /* Tick in the Check Box */
	stroke: #0E28F0 !important;
}

.itemDefault-3NDwnY:hover, /* Settings Normal Button */
.itemBrand-mC9YR4:hover, /* Discord Nitro Button*/
.ui-tab-bar-item:hover /* Better Discord Settings Button */{
	color: #FFF; background: rgba(238, 36, 36, 0.30) !important;
}
