//META{"name":"Onii_Chan","description":"This Theme Was Requested By Orange(ğ“‘ğ“²ğ“° ğ“¦ğ“®ğ“®ğ“«#7691)","author":"Moto","version":"AutoUpdate"}*//
@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url(https://rawgit.com/motoenduroboy/BetterDiscord-Themes/master/release/master/OniiChan.theme.css);
.app { background-image: url(https://i.imgur.com/NPkiC1e.png) !important; background-size: cover !important; }
