//META{"name":"Waifu","description":"This Theme Was Requested By Orange(ğ“‘ğ“²ğ“° ğ“¦ğ“®ğ“®ğ“«#7691)","author":"Moto","version":"0.0.1"}*//
@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url(https://rawgit.com/motoenduroboy/BetterDiscord-Themes/master/release/master/Waifu.theme.css);
.app { background-image: url(https://i.imgur.com/4gyXwuy.jpg) !important; background-size: cover !important; }
